<div class="sidebar">

    <!-- Logo -->
    <div>

        <div class="logo">
            <div class="logo-icon">N</div>
            <span>NeoBank</span>
        </div>

        <!-- Menu -->
        <div class="menu">

            <a routerLink="/dashboard" routerLinkActive="active">
                <span>🏠</span>
                Dashboard
            </a>

            <a routerLink="/accounts" routerLinkActive="active">
                <span>💳</span>
                Accounts
            </a>

            <a routerLink="/transactions" routerLinkActive="active">
                <span>📄</span>
                Transactions
            </a>

            <a routerLink="/transfer-money" routerLinkActive="active">
                <span>💸</span>
                Transfer Money
            </a>

            <a routerLink="/beneficiaries" routerLinkActive="active">
                <span>👥</span>
                Beneficiaries
            </a>

            <a routerLink="/bills" routerLinkActive="active">
                <span>🧾</span>
                Bills & Payments
            </a>

            <a routerLink="/budgets" routerLinkActive="active">
                <span>📈</span>
                Budget Analytics
            </a>

            <a routerLink="/rewards" routerLinkActive="active">
                <span>🎁</span>
                Rewards
            </a>

            <a routerLink="/profile" routerLinkActive="active">
                <span>👤</span>
                Profile
            </a>

            <a routerLink="/settings" routerLinkActive="active">
                <span>⚙️</span>
                Settings
            </a>

        </div>
    </div>

    <div class="security-card">

    <button
        class="logout-btn"
        (click)="logout()">

        Logout

    </button>

</div>

</div>