.rewards-page {

    min-height: 100vh;

    background: var(--color-surface-3);

    padding: 40px;
}

.reward-card {

    max-width: 450px;

    background:
        linear-gradient(
            180deg,
            var(--color-surface-1),
            var(--color-surface-2)
        );

    border-radius: 28px;

    border: 1px solid rgba(255,255,255,.06);

    padding: 40px;

    text-align: center;
}

.icon {

    font-size: 50px;

    margin-bottom: 20px;
}

h2 {

    color: white;

    margin-bottom: 20px;
}

.amount {

    font-size: 42px;

    font-weight: 700;

    color: var(--color-secondary);
}