html {
  scroll-behavior: smooth;
}

.content-padding {
  padding-top: 0px;
}

.content-padding.auth-content {
  padding-top: 0;
}

@media (max-width: 992px) {
  .content-padding:not(.no-pad) {
    padding-top: 0px;
  }
}
