html {
  scroll-behavior: smooth;
}

.content-padding {
  padding-top: 110px;
}

.content-padding.auth-content {
  padding-top: 0;
}

@media (max-width: 992px) {
  .content-padding {
    padding-top: 85px;
  }
}
