.bill-modal {

    width: 750px;

    max-width: 95%;

    background: linear-gradient(
        180deg,
        var(--color-surface-1),
        var(--color-surface-2)
    );

    border-radius: 28px;

    padding: 35px;

    border: 1px solid rgba(255,255,255,.08);
}

.pay-btn {

    height: 50px;

    padding: 0 25px;

    border: none;

    border-radius: 16px;

    background: linear-gradient(
        135deg,
        var(--color-secondary),
        var(--color-tertiary)
    );

    color: white;

    font-weight: 600;

    cursor: pointer;
}

.success-toast {

    position: fixed;

    top: 30px;

    right: 30px;

    background: var(--color-success-dark);

    color: white;

    padding: 16px 22px;

    border-radius: 16px;

    z-index: 99999;
}